
appdata_/
Bin/
source/.vs/
Intermediate/
Lib/
src/.vs
patches/
resources/
import/
rawdata/
shortcuts/
converter/
gamedata/levels/
gamedata/meshes/
gamedata/shaders/editor/
gamedata/spawns/
gamedata/sounds/
*.xr
*.ogm
*.cmd
*.log
*.exe
*.~xr
fs.ltx
fsfactory.ltx
rt_object_props.ltx
shader_imgui.ini
shader.ini
particle.ini
level_imgui.ini
level.ini
converter.ini
actor_imgui.ini
actor.ini
fsfactory.ltx
fs.ltx
postprocess.log
engine.log